%br
%h3 ACTIVE COHORTS
%br
- @cohorts.each do |cohort|
	%a{href: "/cohorts/#{cohort.id}"} #{cohort.season}, #{cohort.course}
	%br
%br
%h3 ADD NEW COHORT
= form_for Cohort.new, method: :post do |f|
	SEASON:
	= f.select :season, seasons.each.collect {|c| [c, c]}
	COURSE:
	= f.text_field :course 
	LOCATION:
	= f.select :location_id, Location.all.collect {|l| ["#{l.city}, #{l.state}", l.id]}
	%br
	%br
	= f.submit "SUBMIT COHORT"