%h1 #{@assignment.title}
%h3 DUE: #{@assignment.due_date}
= "#{@assignment.cohort.season}, #{@assignment.cohort.course}"
%br
= @assignment.description
%br
%br
= button_to "SUBMIT TO ASSIGNMENT", new_submission_path, method: :get

%hr

%h3 STUDENT SUBMISSIONS

- @assignment.submissions.each do |a|
	%a{href: "/users/#{a.user.id}"} #{a.user.name}
	%br
	%a{href: "/submissions/#{a.id}"} #{a.title}
	%br
	= a.description
	%br
	%br

%h3 COMMENTS

- @assignment.comments.each do |c|
	= "#{c.content} -"
	%a{href: "/users/#{c.user.id}"} #{c.user.name}
	%br
	= form_for c, method: :delete do |f|
		= f.submit "x", method: :delete
%br

ADD COMMENT
= form_for @new_comment, method: :post do |f|
	= f.hidden_field :commentable_id, value: @assignment.id
	= f.hidden_field :commentable_type, value: "Assignment"
	= f.text_area :content
	%br
	= f.submit "POST"
	%br