Sign Up!
%br
= form_for @new_user, method: :post do |f|
	Name:
	= f.text_field :name
	Email:
	= f.email_field :email
	%br
	Password
	= f.password_field :password
	Password Confirmation
	= f.password_field :password_confirmation
	%br
	Cohort
	= f.select :cohort_id, Cohort.all.collect {|c| ["#{c.season}, #{c.course}", c.id]}
	Request Admin
	= check_box_tag :request
	%br
	= f.submit "Sign up"