%h1 #{@user.name}

%h3 HOMEWORK SUBMISSIONS

-@user.submissions.each do |s|
	ASSIGNMENT:
	%a{href: "/assignments/#{s.assignment.id}"} #{s.assignment.title}
	%br
	DEADLINE:
	= s.assignment.due_date
	%br
	SUBMISSION:
	%a{href: "/submissions/#{s.id}"} #{s.title}
	%br
%br
%br

= button_to "VIEW ASSIGNMENTS", assignments_path, method: :get
= button_to "SUBMIT NEW HOMEWORK", new_submission_path, method: :get
%hr

