%br
%h3 ACTIVE LOCATIONS
%br
- @locations.each do |location|
	%a{href: "/locations/#{location.id}"} #{location.city}, #{location.state}
	%br
%br
%h3 ADD NEW LOCATION
= form_for Location.new, method: :post do |f|
	CITY:
	= f.text_field :city
	STATE:
	= f.text_field :state
	ZIP:
	= f.text_field :zip
	ADDRESS:
	= f.text_field :address
	%br
	%br
	= f.submit "SUBMIT LOCATION"

